services:
  # DATABASE
  db:
    image: mysql:8
    container_name: fundamental-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  # BACKEND (DEVELOPMENT)
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
      target: development
    container_name: fundamental-server
    restart: unless-stopped
    ports:
      - "3001:3000"
    environment:
      NODE_ENV: ${NODE_ENV:-development}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_DIALECT: ${DB_DIALECT}
    depends_on:
      db:
        condition: service_healthy
    # Hot Reloading
    volumes:
      - ./server:/app
      - /app/node_modules
    # Docker Compose Watch
    develop:
      watch:
        - path: ./server/package.json
          action: rebuild
        - path: ./server
          target: /app
          action: sync
          ignore:
            - node_modules
    networks:
      - app-network

  # FRONTEND (DEVELOPMENT)
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      target: development
    container_name: fundamental-client
    restart: unless-stopped
    ports:
      - "8080:5173" # Vite default port
    # Hot Reloading
    volumes:
      - ./client:/app
      - /app/node_modules
    # Docker Compose Watch
    develop:
      watch:
        - path: ./client/package.json
          action: rebuild
        - path: ./client
          target: /app
          action: sync
          ignore:
            - node_modules
    depends_on:
      - server
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mysql_data:
    driver: local
