services:
  # DATABASE
  db:
    # Database configuration stays mostly the same
    restart: always

  # BACKEND (PRODUCTION)
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
      target: production
    environment:
      NODE_ENV: production
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_DIALECT: ${DB_DIALECT}
    # Production should not have volume mapping for source code
    volumes: []

  # FRONTEND (PRODUCTION)
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      target: production
    ports:
      - "8080:80" # Mapping 8080 to Nginx port 80
    volumes: []
    depends_on:
      - server
